.item-count {
  font-weight: bold;
  color: green;
}
.state-packed {
  float:right;
  color: green;
}
.state-notpacked {
  float:right;
  font-weight: bold;
  color: red;
}
.template {
  display:none;
}
